[*]
root=true
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=4
trim_trailing_whitespace=true
max_line_length=120

[{Makefile.*,makefile,Makefile,GNUmakefile,*.mk}]
indent_style=tab
tab_width=4

[{*.c, *.m, *.cc, *.cpp, *.h, *.hpp}]
keep_blank_lines_in_declarations=1
keep_blank_lines_in_code=1
blank_lines_around_class_definition=1
blank_lines_around_function_declaration=0
blank_lines_around_function_definition=1
blank_lines_around_single_line_function_definition=0
blank_lines_around_namespace=1
blank_lines_around_other_declaration=0
namespace_declaration_braces=next_line
linkage_specification_braces=next_line
type_declaration_braces=next_line
place_namespace_definitions_on_same_line=false
invocable_declaration_braces=next_line
anonymous_method_declaration_braces=next_line
case_block_braces=next_line
other_braces=next_line
expression_braces=inside
empty_block_style=together_same_line
simple_block_style=on_single_line
continuous_line_indent=single
namespace_indentation=all
linkage_specification_indentation=all
indent_access_specifiers_from_class=false
indent_wrapped_function_names=true
indent_switch_labels=true
indent_method_decl_pars=inside
indent_invocation_pars=inside
indent_statement_pars=inside
indent_preprocessor_directives=none
indent_type_constraints=true
indent_comment=true
align_multiple_declaration=true
align_multiline_parameter=true
align_multiline_argument=true
align_first_arg_by_paren=true
align_multiline_type_parameter=true
align_multiline_type_argument=true
align_multiline_extends_list=true
align_multiline_ctor_init=true
outdent_commas=true
align_ternary=align_all
align_multiline_calls_chain=true
outdent_dots=true
align_multiline_binary_expressions_chain=true
int_align_eq=true
int_align_declaration_names=true
int_align_comments=true
space_before_ptr_in_data_member=false
space_after_ptr_in_data_member=true
space_before_ptr_in_data_members=true
space_after_ptr_in_data_members=false
space_before_ptr_in_method=false
space_after_ptr_in_method=true
space_after_comma_in_declaration=true
space_before_comma_in_declaration=false
space_after_comma_in_method=true
space_before_comma_in_method=false
space_after_comma_in_enum=true
space_before_comma_in_enum=false
space_after_comma_in_base_clause=true
space_before_comma_in_base_clause=false
space_between_method_declaration_name_and_open_parenthesis=false
space_between_method_declaration_parameter_list_parentheses=false
space_between_method_declaration_empty_parameter_list_parentheses=false
space_before_template_params=true
space_within_template_params=false
space_within_empty_template_params=false
space_after_comma_in_template_params=true
space_before_comma_in_template_params=false
space_before_template_args=false
space_within_template_args=false
space_after_comma_in_template_args=false
space_after_comma=true
space_before_comma=false
space_before_comma_in_template_args=false
space_between_closing_angle_brackets_in_template_args=false
space_around_alias_eq=true
space_around_deref_in_trailing_return_type=true
space_before_colon_in_inheritance_clause=true
space_after_colon_in_inheritance_clause=true
space_before_type_parameter_constraint_colon=true
space_after_type_parameter_constraint_colon=true
space_after_keywords_in_control_flow_statements=false
space_between_parentheses_of_control_flow_statements=false
space_before_semicolon_in_for_statement=false
space_after_semicolon_in_for_statement=true
space_before_for_colon=true
space_after_for_colon=true
space_before_colon_in_case=false
space_after_colon_in_case=true
space_around_binary_operator=true
space_around_assignment_operator=true
space_around_member_access_operator=false
space_within_parentheses=false
space_before_open_square_brackets=false
space_between_square_brackets=false
space_within_array_access_brackets=false
space_between_method_call_name_and_opening_parenthesis=false
space_before_empty_method_call_parentheses=false
space_before_method_call_parentheses=false
space_between_typecast_parentheses=false
space_after_cast=false
space_between_method_call_parameter_list_parentheses=false
space_between_method_call_empty_parameter_list_parentheses=false
space_before_comma_in_method_call=false
space_after_comma_in_method_call=true
space_before_comma_in_initializer_braces=false
space_after_comma_in_initializer_braces=true
space_before_ternary_quest=true
space_after_ternary_quest=true
space_before_ternary_colon=true
space_after_ternary_colon=true
space_before_initializer_braces=true
space_within_initializer_braces=false
space_within_empty_initializer_braces=false
space_before_trailing_comment=true
disable_space_changes_before_trailing_comment=true
new_line_before_else=true
new_line_before_while=false
new_line_before_catch=true
simple_embedded_statement_style=on_single_line
simple_case_statement_style=on_single_line
function_definition_return_type_style=on_single_line
toplevel_function_definition_return_type_style=on_single_line
function_declaration_return_type_style=on_single_line
toplevel_function_declaration_return_type_style=on_single_line
break_template_declaration=on_single_line
member_initializer_list_style=on_single_line
line_break_after_colon_in_member_initializer_lists=on_single_line
line_break_before_comma_in_member_initializer_lists=false
line_break_after_comma_in_member_initializer_lists=true
place_type_constraints_on_same_line=true
keep_user_linebreaks=false
wrap_before_comma=false
wrap_ternary_expr_style=chop_if_long
wrap_before_ternary_opsigns=true
wrap_before_colon=false
wrap_before_first_type_parameter_constraint=true
wrap_multiple_type_parameter_constraints_style=chop_if_long
wrap_enumeration_style=chop_if_long
wrap_braced_init_list_style=chop_if_long
wrap_base_clause_style=chop_if_long
wrap_ctor_initializer_style=chop_if_long
wrap_parameters_style=chop_if_long
wrap_before_declaration_lpar=false
wrap_after_declaration_lpar=true
wrap_arguments_style=chop_if_long
wrap_before_invocation_lpar=false
wrap_after_invocation_lpar=true


